<a href="https://colab.research.google.com/github/Dhanasree-Rajamani/Data-Mining/blob/main/Data%20Mining%20Assignment%204/Question%201/MICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### Using MICE to impute missing data

Tried MICE with two datasets:
- First data set is a sample containing Age, experience and Salary. Some records contain missing Age, Experience and Salary which is imputed using MICE.
- The second dataset, is a proper full dataset containing Age, Height, Weight and BMI of various people. This dataset contains missing values in all the columns such as Age, Height, Weight and BMI, and these values are imputed using MICE.

In [28]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv("https://raw.githubusercontent.com/Dhanasree-Rajamani/Data-Mining/main/Data%20Mining%20Assignment%204/Dataset/MICE_dataset.csv")

In [29]:
df

   Age  Experience  Salary
0   25         Nan      50
1   27           3     Nan
2   29           5     110
3   31           7     140
4   33           9     170
5  Nan          11     200

In [30]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [31]:
lr = LinearRegression()
imp = IterativeImputer(estimator=lr, verbose=2,max_iter=30,tol=1e-10,imputation_order='roman')

In [32]:
res = imp.fit_transform(df)

[IterativeImputer] Completing matrix with shape (6, 3)
[IterativeImputer] Ending imputation round 1/30, elapsed time 0.01
[IterativeImputer] Change: 61.22518987714511, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 2/30, elapsed time 0.01
[IterativeImputer] Change: 7.963767891095614, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 3/30, elapsed time 0.02
[IterativeImputer] Change: 0.7509179143103637, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 4/30, elapsed time 0.02
[IterativeImputer] Change: 0.01311646776996156, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 5/30, elapsed time 0.03
[IterativeImputer] Change: 0.000814252648837055, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 6/30, elapsed time 0.04
[IterativeImputer] Change: 3.9720598692838394e-05, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 7/30, elapsed time 0.04
[IterativeImputer] Change: 2.1412899116057815e-06, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 8/30, elapsed time 0.05
[IterativeImputer] Change: 1.1151936973874399e-07, scaled tolerance: 2e-08
[IterativeImputer] Ending imputation round 9/30, elapsed time 0.05
[IterativeImputer] Change: 5.882853315597458e-09, scaled tolerance: 2e-08
[IterativeImputer] Early stopping criterion reached.

Result imputed using MICE

In [33]:
res

array([[ 25.,   1.,  50.],
       [ 27.,   3.,  80.],
       [ 29.,   5., 110.],
       [ 31.,   7., 140.],
       [ 33.,   9., 170.],
       [ 35.,  11., 200.]])

Imputing using MICE for BMI dataset with age, height, weight and BMI

In [34]:
import numpy as np
import pandas as pd

In [35]:
!pip install impyute

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.7/dist-packages (0.0.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->impyute) (1.2.0)

In [36]:
from impyute.imputation.cs import mice
from sklearn.preprocessing import OrdinalEncoder

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/Dhanasree-Rajamani/Data-Mining/main/Data%20Mining%20Assignment%204/Dataset/bmi_data%20-%20bmi_data.csv')

Dataset containing missing values

In [38]:
df

        Age  Height(Inches)  Weight(Pounds)        BMI
0      21.0        65.78331        112.9925  18.357646
1      35.0        71.51521        136.4873  18.762652
2      27.0        69.39874        153.0269  22.338985
3      24.0        68.21660        142.3354  21.504612
4      18.0        67.78781        144.2971  22.077669
...     ...             ...             ...        ...
24995  35.0        69.50215        118.0312  17.179051
24996  26.0        64.54826        120.1932  20.281947
24997  23.0        64.69855        118.2655  19.864050
24998  20.0        67.52918        132.2682  20.392540
24999  34.0        68.87761        124.8742  18.506121

[25000 rows x 4 columns]

In [39]:
df.isnull().sum().sort_values(ascending=False)

BMI               50
Height(Inches)    19
Weight(Pounds)    16
Age                4
dtype: int64

In [40]:
df_imputed = mice(df.values)

In [41]:
df_imputed

array([[ 21.        ,  65.78331   , 112.9925    ,  18.35764628],
       [ 35.        ,  71.51521   , 136.4873    ,  18.76265227],
       [ 27.        ,  69.39874   , 153.0269    ,  22.33898483],
       ...,
       [ 23.        ,  64.69855   , 118.2655    ,  19.86405006],
       [ 20.        ,  67.52918   , 132.2682    ,  20.39253963],
       [ 34.        ,  68.87761   , 124.8742    ,  18.50612131]])

In [42]:
df_imputed = pd.DataFrame(df_imputed, columns = ['Age',	'Height(Inches)',	'Weight(Pounds)',	'BMI'])

In [43]:
df = df_imputed

Values have been imputed, hence no missing values

In [44]:
df.isna().sum().sort_values(ascending=False)

Age               0
Height(Inches)    0
Weight(Pounds)    0
BMI               0
dtype: int64

Imputed values can be viewed here

In [45]:
df.head(20)

          Age  Height(Inches)  Weight(Pounds)        BMI
0   21.000000       65.783310        112.9925  18.357646
1   35.000000       71.515210        136.4873  18.762652
2   27.000000       69.398740        153.0269  22.338985
3   24.000000       68.216600        142.3354  21.504612
4   18.000000       67.787810        144.2971  22.077669
5   22.000000       68.697840        123.3024  18.368944
6   35.000000       69.802040        141.4947  20.489886
7   19.000000       70.014720        136.4623  19.571891
8   28.000000       67.902650        112.3723  17.135021
9   25.000000       66.782360        120.6672  19.022366
10  34.000000       68.090303        127.4516  19.322074
11  28.000000       67.623330        114.1430  17.549106
12  21.000000       68.302480        125.6107  18.930083
13  25.000000       67.116560        122.4618  19.113494
14  27.000000       68.279670        116.0866  17.506450
15  23.000000       71.091600        139.9975  19.475227
16  26.447262       66.461000        129.5023  20.613065
17  31.000000       68.649270        142.9733  21.329561
18  19.000000       71.230330        137.9025  19.109136
19  32.000000       67.131180        124.0449  19.352148