<a href="https://colab.research.google.com/github/Dhanasree-Rajamani/Data-Mining/blob/main/Assignment1_q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Statements

In [47]:
import random
import sys
import os

Print Statement and variable

In [10]:
#printing name
name = "Dhanasree"
print(name)
#multiline comment not working the way I expected it to

Dhanasree

  Arithmetic Operations and variables

In [14]:
a = 10
b = 5
print(a, " + ", b, "=", a+b)
print(a, " - ", b, "=", a-b)
print(a, " * ", b, "=", a*b)
print(a, " / ", b, "=", a/b)
print(a, " % ", b, "=", a%b)
print(a, " ** ", b, "=", a**b)
print(a, " // ", b, "=", a//b)

print(" 1 + 2 - 3 * 2 = ", 1 + 2 - 3 * 2)
print("( 1 + 2 - 3 ) * 2 = ", (1 + 2 - 3) * 2)

10  +  5 = 15
10  -  5 = 5
10  *  5 = 50
10  /  5 = 2.0
10  %  5 = 0
10  **  5 = 100000
10  //  5 = 2
 1 + 2 - 3 * 2 =  -3
( 1 + 2 - 3 ) * 2 =  0

Working with quotes and new lines

In [20]:
quote = "\"Always remember you are unique"

multi_line_quote = '''just
like everyone else\"'''

print("%s %s %s" %('I like the quote', quote, multi_line_quote))

print('\n' * 5)

print("I dont like ", end="")
print("newlines")

I like the quote "Always remember you are unique just
like everyone else"






I dont like newlines

Lists and List operations

In [26]:
grocery_list = ['Juice', 'Tomatoes', 'Potatoes',
                'Bananas']
print('First Item is', grocery_list[0])

grocery_list[0] = "Green Juice"
print('First Item is', grocery_list[0])

print(grocery_list[1:3])

other_events = ['Wash Car', 'Pick Up Kids', 'Cash Check']
to_do_list = [other_events, grocery_list]
print(to_do_list)

print(to_do_list[1][1])

grocery_list.append('Onions')
grocery_list.insert(1, 'Pickle')

print(grocery_list)

grocery_list.remove('Pickle')

grocery_list.sort()

grocery_list.reverse()

del(grocery_list[4])

print(to_do_list)

to_do_list2 = other_events + grocery_list

print(len(to_do_list2))
print(max(to_do_list2))
print(min(to_do_list2))

First Item is Juice
First Item is Green Juice
['Tomatoes', 'Potatoes']
[['Wash Car', 'Pick Up Kids', 'Cash Check'], ['Green Juice', 'Tomatoes', 'Potatoes', 'Bananas']]
Tomatoes
['Green Juice', 'Pickle', 'Tomatoes', 'Potatoes', 'Bananas', 'Onions']
[['Wash Car', 'Pick Up Kids', 'Cash Check'], ['Tomatoes', 'Potatoes', 'Onions', 'Green Juice']]
7
Wash Car
Cash Check

Tuples

In [31]:
pi_tuple = (3,1,4,5,9)

new_list = list(pi_tuple)
new_tuple = tuple(new_list)

print("length:", len(new_tuple), " min:", min(new_tuple), " max:", max(new_tuple))

length: 5  min: 1  max: 9

Dictionary and Dictionary operations

In [33]:
super_villains = {'Fiddler' : 'Isaac Bowin',
                  'Captain Cold' : 'Leonard Snart', 
                  'Weather Wizard' : 'Mark Mardon', 
                  'Mirror Master' : 'Sam Scudder', 
                  'Pied Piper' : 'Thomas Peterson'}

print(super_villains['Captain Cold'])

del super_villains['Fiddler']

super_villains['Pied Piper'] = 'Hartley Rathaway'

print(len(super_villains))

print(super_villains.get('Pied Piper'))

print(super_villains.keys())

print(super_villains.values())

Leonard Snart
4
Hartley Rathaway
dict_keys(['Captain Cold', 'Weather Wizard', 'Mirror Master', 'Pied Piper'])
dict_values(['Leonard Snart', 'Mark Mardon', 'Sam Scudder', 'Hartley Rathaway'])

If and Else Statements

In [35]:
age = 30

if age>16 :
  print('You are old enough to drive')
else :
  print('You are not old enough to drive')

if age >= 21 :
  print('You are old enough to drive a tractor trailer')
elif age >= 16 :
  print('You are old enough to drive a car')
else :
  print('You are not old enough to drive')

if ((age >= 1) and (age <= 18)) :
  print("You get a brithday")
elif ((age == 21) or (age >= 65)) :
  print("you get a birthday too")
elif not (age == 30) :
  print("you dont get a birthday")
else :
  print("you get a birthday party yeah")

You are old enough to drive
You are old enough to drive a tractor trailer
you get a birthday party yeah

For Loop

In [39]:
for x in range (0,10):
  print(x, ' ', end="")

print('\n')

grocery_list = ['Juice', 'Bananas', 'Potatoes', 'Tomatoes']

for y in grocery_list:
  print(y)

for x in [2, 4, 6, 8, 10]:
  print(x)

num_list = [[1,2,3],[10,20,30],[100,200,330]]

for x in range(0,3):
  for y in range(0,3):
    print(num_list[x][y])

0  1  2  3  4  5  6  7  8  9

Juice
Bananas
Potatoes
Tomatoes
2
4
6
8
10
1
2
3
10
20
30
100
200
330

While Loop

In [42]:
random_number = random.randrange(0, 100)

while (random_number != 15) :
  print(random_number)
  random_number = random.randrange(0, 100)

i = 0

while(i <= 20) :
  if(i%2 == 0) :
    print(i)
  elif(i == 9) :
    break
  else:
    i += 1
    continue
  i += 1

58
89
43
81
56
8
89
53
45
67
25
91
76
36
49
46
72
49
29
53
36
17
1
22
85
80
5
46
23
26
31
76
28
29
71
27
45
42
57
49
60
39
77
84
16
49
29
34
78
89
38
31
52
10
12
97
41
94
68
78
79
16
2
59
43
19
74
6
55
57
26
93
73
84
4
0
2
4
6
8

Function and user input

In [49]:
def addNumbers(num1, num2):
  sumNum = num1 + num2
  return sumNum

print(addNumbers(5,3))

print("What is your name")
#name = sys.stdin.readline() this din't work for me
name = input() #using input to get user input
print("Hello ", name)

8
What is your name
Dhanasree
Hello  Dhanasree

String Operations

In [54]:
long_String = "i'll catch you if you fall - The Floor"

print(long_String[0:4])

print(long_String[-5:])

print(long_String[:-5])

print(long_String[:4]+ " be there")

print("%c is my %s letter and my number %d number is %.5f" %
      ('x','favorite',1,.14))

print(long_String.capitalize())

print(long_String.find("Floor"))

print(long_String.isalpha())

print(long_String.isalnum())

print(len(long_String))

print(long_String.replace("Floor", "Ground"))

print(long_String.strip())

quote_list = long_String.split(" ")
print(quote_list)

i'll
Floor
i'll catch you if you fall - The
i'll be there
x is my favorite letter and my number 1 number is 0.14000
I'll catch you if you fall - the floor
33
False
False
38
i'll catch you if you fall - The Ground
i'll catch you if you fall - The Floor
["i'll", 'catch', 'you', 'if', 'you', 'fall', '-', 'The', 'Floor']

File Operations

In [56]:
test_file = open("test.txt", "wb")

print(test_file.mode)
print(test_file.name)
test_file.write(bytes("write me to the file\n", "UTF-8"))

test_file.close()

test_file = open("test.txt", "r+")

text_in_file = test_file.read()
print(text_in_file)

os.remove("test.txt")

wb
test.txt
write me to the file

In [11]:
class Animal :
  name = ""
  height = 0
  weight = 0
  sound = 0

  def __init__(self, name, height, weight, sound):
    self.name = name
    self.height = height
    self.weight = weight
    self.sound = sound

  def set_name(self, name):
    self.name = name
  
  def get_name(self):
    return self.name
  
  def set_height(self, height):
    self.height = height
  
  def get_height(self):
    return self.height

  def set_weight(self, weight):
    self.weight = weight
  
  def get_weight(self):
    return self.weight
  
  def set_sound(self, sound):
    self.sound = sound
  
  def get_sound(self):
    return self.sound

  def get_type(self):
    print("Animal")
  
  def toString(self):
    return "{} is {} cm tall and {} kilograms and says {}".format(self.name,
                                                                  self.height,
                                                                  self.weight,
                                                                  self.sound)
cat = Animal("Whiskers", 33, 10, "Meow")
print(cat.toString())

class Dog(Animal):
  owner = ""

  def __init__(self, name, height, weight, sound, owner):
    self.owner = owner
    super().__init__(name, height, weight, sound)

  def set_owner(self, owner):
    self.owner = owner
  
  def get_owner(self):
    return self.owner

  def get_type(self):
    print("Dog")
    
  def toString(self):
    return "{} is {} cm tall and {} kilograms and says {}".format(self.name,
                                                                  self.height,
                                                                  self.weight,
                                                                  self.sound,
                                                                  self.owner)
  def multiple_sounds(self, how_many=None):
    if how_many is None:
      print(self.get_sound()) 
    else:
      print(self.get_sound() * how_many)
 

spot = Dog("Spot", 53, 27, "Ruff", "Dhana")

print(vars(spot))
print(spot.toString())

class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()

test_animals = AnimalTesting()

test_animals.get_type(cat)
test_animals.get_type(spot)

spot.multiple_sounds(4)
spot.multiple_sounds()

Whiskers is 33 cm tall and 10 kilograms and says Meow
{'owner': 'Dhana', 'name': 'Spot', 'height': 53, 'weight': 27, 'sound': 'Ruff'}
Spot is 53 cm tall and 27 kilograms and says Ruff
Animal
Dog
RuffRuffRuffRuff
Ruff